/* Quote
--------------------------------------------- */

.wp-block-quote.has-text-align-center,
.wp-block-quote.has-text-align-left,
.wp-block-quote.has-text-align-right {
	padding: var(--wp--preset--spacing--large);
}

.wp-block-quote p:last-of-type {
	margin-bottom: var(--wp--preset--spacing--small);
}

.wp-block-quote cite,
.wp-block-pullquote cite {
	display: block;
}
