/* Post Author
--------------------------------------------- */

.wp-block-post-author {
	align-items: center;
}

.wp-block-post-author__name {
	margin-bottom: 0;
}

.wp-block-post-author__avatar {
	display: inline-flex;
	align-items: center;
	margin-right: .8rem;
}

.wp-block-post-author__avatar img {
	width: 26px;
	height: 26px;
	border-radius: 100px;
}
