/* Preformatted
--------------------------------------------- */

.wp-block-preformatted {
	overflow-wrap: normal;
	overflow-x: scroll;
	white-space: pre;
}

.wp-block-preformatted.is-style-preformatted-dark,
.editor-styles-wrapper .wp-block-preformatted.is-style-preformatted-dark {
	background-color: var(--wp--preset--color--main);
	color: var(--wp--preset--color--base);
}
