/* Post Template
--------------------------------------------- */

@media only screen and (max-width: 599px) {
	/* Reset height of images in the post grid at the bottom of single posts */
	.single .wp-block-query .wp-block-post-featured-image,
	.single .wp-block-query .wp-block-post-featured-image a,
	.single .wp-block-query .wp-block-post-featured-image img{
		height: auto !important;
	}
}

ul[class*="columns-"].wp-block-post-template .wp-block-post > .wp-block-group {
	height: 100%;
}

/* Hide empty pagination container */
.wp-block-post-template + .wp-block-group:empty {
	display: none;
}
