/* Comments
--------------------------------------------- */

.wp-block-post-comments .commentlist {
	margin-bottom: 40px;
	margin-top: 40px;
}

.wp-block-comment-template ol {
	padding-inline-start: var(--wp--preset--spacing--medium) !important;
}

.wp-block-comment-template > li {
	margin-left: 0;
}

.wp-block-post-comments .form-submit {
	margin-bottom: 0;
}

.comment-form-cookies-consent {
	font-size: var(--wp--preset--font-size--small);
}

.comment .avatar {
	margin-top: 8px;
}

.wp-block-comment-template + .wp-block-post-comments-form {
	margin-top: var(--wp--preset--spacing--large);
}

.wp-block-comments .wp-block-group:empty {
	display: none;
}

.wp-block-comments .wp-block-group:empty + .comment-respond {
	margin-top: 0;
}

.wp-block-comments-pagination-numbers > * {
	margin: 0 4px;
}

/* Comment Author Avatar
--------------------------------------------- */

.wp-block-post-comments .comment-author .avatar {
	height: 48px;
	margin-top: 2px;
	width: 48px;
}
