/* WooCommerce styles
--------------------------------------------- */

.woocommerce div.product form.cart .variations select {
	background-color: #fff;
	height: auto;
	padding: .5em 2em .5em 1em;
}

.woocommerce div.product form.cart .variations label {
	margin: 0;
}

.wp-block-woocommerce-add-to-cart-form .variations_button>.quantity:not(.wc-block-components-quantity-selector) .qty {
	height: auto;
	padding: .6em;
	width: 4em;
}

.wc-block-add-to-cart-with-options-variation-selector-attribute-options__pills label {
	width: auto;
	background-color: var(--wp--preset--color--tertiary);
	border: none;
	padding: 8px 15px;
	font-size: var(--wp--preset--font-size--small);
	border-radius: 5px;
	margin-bottom: 0;
	transition: .2s ease;
}

.wc-block-add-to-cart-with-options-variation-selector-attribute-options__pills label:hover {
	background-color: color-mix(in srgb, var(--wp--preset--color--tertiary) 80%, var(--wp--preset--color--main) 5%);
}

.wc-block-add-to-cart-with-options-variation-selector-attribute-options__pill:has(.wc-block-add-to-cart-with-options-variation-selector-attribute-options__pill-input:checked) {
	--pill-color: var(--wp--preset--color--main);
    --pill-background-color: var(--wp--preset--color--main);
	background-color: var(--wp--preset--color--main);
	color: var(--wp--preset--color--base);
}

:where(.wc-block-add-to-cart-with-options-variation-selector-attribute-options__pill):where(:focus-within:has(.wc-block-add-to-cart-with-options-variation-selector-attribute-options__pill-input:checked)) {
	outline-color: transparent;
}

.wp-block-add-to-cart-with-options .wc-block-components-product-button {
	flex: 1;
	max-width: 300px;
}

.wp-block-button.wc-block-components-product-button .wc-block-components-product-button__button {
	width: 100%;
}

.wp-block-group-is-layout-flex:has(.wc-block-components-product-button) {	
	gap: 15px;
}

.wc-block-product-gallery-large-image__container {
	padding: 0;
}

.woocommerce .quantity .qty {
	width: 1em;
	margin: 0 5px;
	border-radius: 6px;
}

.wc-block-components-quantity-selector .wc-block-components-quantity-selector__button,
.wc-block-components-quantity-selector .wc-block-components-quantity-selector__button:disabled {
	background-color: var(--wp--preset--color--tertiary);
	opacity: 1;
	border-radius: 6px;
    width: 42px;
}

.wc-block-components-quantity-selector:after {
	display: none;
}

.woocommerce div.product {
	margin: 0;
}

.woocommerce .woocommerce-breadcrumb {
	margin: 0;
}

.wp-block-post-terms a:hover {
	text-decoration: underline;
}

.wc-block-product-gallery-thumbnails__thumbnail img {
	border-radius: 5px;
}

:where(.wc-block-next-previous-buttons__button) {
	border-radius: 5px;
}

:where(.wc-block-next-previous-buttons__icon) {
    padding: 0;
}

.wp-block-woocommerce-add-to-cart-with-options-variation-selector-attribute-options {
	width: 100%;
}

.wp-block-woocommerce-add-to-cart-with-options-variation-selector-attribute-options select {
	min-width: 50%;
}

.wp-block-woocommerce-add-to-cart-with-options-variation-selector,
.block-editor-block-list__block.wp-block-woocommerce-add-to-cart-with-options-variation-selector-attribute {
	gap: var(--wp--preset--spacing--small);
    display: flex;
    flex-direction: column;
}

label.wp-block-woocommerce-add-to-cart-with-options-variation-selector-attribute-name {
	margin: 0;
}

.woocommerce .wc-block-components-product-price bdi {
	font-weight: normal;
}

.wc-block-components-notice-banner {
	padding: 10px !important;
	align-items: center;
	border-radius: 5px;
}

.wc-block-components-notice-banner svg {
	width: 20px;
}

.wc-block-components-notice-banner.is-error {
	color: #cc1818;
	border-color: #e9afaf;
}

.wc-block-components-notice-banner.is-success {
	color: #29683a;
	border-color: #95caa2;
}

.wc-block-components-notice-banner.is-warning {
	color: #7d5c0c;
	border-color: #e3cea3;
}

.wc-block-components-notice-banner>.wc-block-components-button {
	margin-top: 0 !important;
}

.wp-block-woocommerce-product-stock-indicator:empty {
	display: none;
}

.product-meta-row:has(.wp-block-woocommerce-product-stock-indicator:empty) .wp-block-outermost-icon-block {
	display: none;
}

.wp-block-woocommerce-product-gallery {
	gap: var(--wp--preset--spacing--small);
}

.woocommerce div.product .woocommerce-tabs .panel,
.woocommerce table.shop_attributes {
	margin: 0;
}

table.woocommerce-product-attributes {
	background: #fff;
	border-radius: 5px;
	border: none;
	border-spacing: 0;
	font-size: var(--wp--preset--font-size--small);
}

.woocommerce table.shop_attributes th,
.woocommerce table.shop_attributes td {
	border: none;
}

.woocommerce table.shop_attributes th {
	padding: 10px 15px;
	text-align: left;
}

.woocommerce table.shop_attributes tr:nth-child(even) td, .woocommerce table.shop_attributes tr:nth-child(even) th {
    background: rgba(0, 0, 0, .025);
}

.woocommerce div.product .woocommerce-tabs .panel p:last-of-type {
	margin-bottom: 0;
}

.woocommerce-Tabs-panel h2 {
	font-size: var(--wp--preset--font-size--medium);
}

.html body .wp-block-woocommerce-product-details.is-style-minimal ul.tabs.wc-tabs li {
	border: none !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	font-weight: 500;
	font-size: var(--wp--preset--font-size--small);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background: var(--wp--preset--color--main) !important;
	color: var(--wp--preset--color--base) !important;
	border-radius: 5px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:hover {
	border: none !important;
}
