<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|xx-large"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignwide" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--xx-large);padding-bottom:var(--wp--preset--spacing--xx-large)"><!-- wp:columns {"align":"wide","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"blockGap":{"top":"var:preset|spacing|xx-large","left":"var:preset|spacing|xx-large"}}}} -->
	<div class="wp-block-columns alignwide" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column {"width":"66.66%"} -->
	<div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:post-title {"level":1,"fontSize":"xx-large","fontFamily":"secondary"} /-->
	
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group"><!-- wp:post-featured-image {"align":"wide","style":{"color":{"duotone":"unset"},"spacing":{"margin":{"top":"var:preset|spacing|large","right":"var:preset|spacing|large","bottom":"var:preset|spacing|large","left":"var:preset|spacing|large"}}}} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /--></div>
	<!-- /wp:column -->
	
	<!-- wp:column {"width":"33.33%","backgroundColor":"tertiary"} -->
	<div class="wp-block-column has-tertiary-background-color has-background" style="flex-basis:33.33%"><!-- wp:template-part {"slug":"sidebar"} /--></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns --></main>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
