<!-- wp:template-part {"slug":"header","theme":"ollie","tagName":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","align":"wide","style":{"spacing":{"margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|xx-large"},"blockGap":"var:preset|spacing|medium"}},"layout":{"type":"default"}} -->
<main class="wp-block-group alignwide" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--xx-large);padding-bottom:var(--wp--preset--spacing--xx-large)"><!-- wp:group {"align":"full","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull"><!-- wp:post-terms {"term":"category","style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|primary"}}}},"textColor":"primary","className":"is-style-default","fontSize":"small"} /-->
	
	<!-- wp:post-title {"level":1,"fontSize":"xx-large","fontFamily":"secondary"} /-->
	
	<!-- wp:group {"style":{"spacing":{"blockGap":"10px"},"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","layout":{"type":"flex","flexWrap":"nowrap"},"fontSize":"small"} -->
	<div class="wp-block-group has-secondary-color has-text-color has-link-color has-small-font-size"><!-- wp:post-author {"showBio":false,"style":{"typography":{"fontStyle":"normal","fontWeight":"500"}}} /-->
	
	<!-- wp:paragraph {"textColor":"secondary"} -->
	<p class="has-secondary-color has-text-color">·</p>
	<!-- /wp:paragraph -->
	
	<!-- wp:post-date {"style":{"typography":{"fontStyle":"normal","fontWeight":"500"}}} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:post-featured-image {"style":{"color":{"duotone":"unset"},"spacing":{"margin":{"top":"var:preset|spacing|large","right":"var:preset|spacing|large","bottom":"var:preset|spacing|large","left":"var:preset|spacing|large"}}}} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->
	
	<!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group"><!-- wp:group {"style":{"border":{"radius":"5px"},"spacing":{"margin":{"top":"var:preset|spacing|large"}}},"className":"post-meta","layout":{"type":"flex","justifyContent":"space-between"},"fontSize":"small"} -->
	<div class="wp-block-group post-meta has-small-font-size" style="border-radius:5px;margin-top:var(--wp--preset--spacing--large)"><!-- wp:post-terms {"term":"post_tag","style":{"elements":{"link":{"color":{"text":"var:preset|color|secondary"}}}},"textColor":"secondary","className":"is-style-term-button"} /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:group --></main>
	<!-- /wp:group -->
	
	<!-- wp:comments {"style":{"spacing":{"padding":{"top":"var:preset|spacing|xx-large","bottom":"var:preset|spacing|xx-large"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"tertiary"} -->
	<div class="wp-block-comments has-tertiary-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--xx-large);padding-bottom:var(--wp--preset--spacing--xx-large)"><!-- wp:group {"layout":{"type":"constrained"}} -->
	<div class="wp-block-group"><!-- wp:comments-title /-->
	
	<!-- wp:comment-template -->
	<!-- wp:columns {"isStackedOnMobile":false,"style":{"spacing":{"margin":{"top":"40px","bottom":"40px"},"padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"var:preset|spacing|medium","right":"var:preset|spacing|medium"}},"border":{"radius":"5px","top":{"radius":"5px","width":"0px","style":"none"},"right":{"radius":"5px","width":"0px","style":"none"},"bottom":{"color":"#e6e3ffdb","width":"1px"},"left":{"radius":"5px","width":"0px","style":"none"}}},"backgroundColor":"base"} -->
	<div class="wp-block-columns is-not-stacked-on-mobile has-base-background-color has-background" style="border-radius:5px;border-top-style:none;border-top-width:0px;border-right-style:none;border-right-width:0px;border-bottom-color:#e6e3ffdb;border-bottom-width:1px;border-left-style:none;border-left-width:0px;margin-top:40px;margin-bottom:40px;padding-top:var(--wp--preset--spacing--medium);padding-right:var(--wp--preset--spacing--medium);padding-bottom:var(--wp--preset--spacing--medium);padding-left:var(--wp--preset--spacing--medium)"><!-- wp:column {"width":"40px"} -->
	<div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
	<!-- /wp:column -->
	
	<!-- wp:column -->
	<div class="wp-block-column"><!-- wp:comment-author-name {"fontSize":"small"} /-->
	
	<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"flex","justifyContent":"left"}} -->
	<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date {"fontSize":"x-small"} /-->
	
	<!-- wp:comment-edit-link {"fontSize":"x-small"} /--></div>
	<!-- /wp:group -->
	
	<!-- wp:comment-content {"fontSize":"x-small"} /-->
	
	<!-- wp:comment-reply-link {"fontSize":"x-small"} /--></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns -->
	<!-- /wp:comment-template -->
	
	<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|large","bottom":"var:preset|spacing|large"},"padding":{"top":"var:preset|spacing|medium","bottom":"var:preset|spacing|medium","left":"0","right":"0"}}},"className":"is-style-default","layout":{"type":"constrained"}} -->
	<div class="wp-block-group is-style-default" style="margin-top:var(--wp--preset--spacing--large);margin-bottom:var(--wp--preset--spacing--large);padding-top:var(--wp--preset--spacing--medium);padding-right:0;padding-bottom:var(--wp--preset--spacing--medium);padding-left:0"><!-- wp:comments-pagination {"layout":{"type":"flex","justifyContent":"space-between"},"fontSize":"x-small"} -->
	<!-- wp:comments-pagination-previous /-->
	
	<!-- wp:comments-pagination-numbers /-->
	
	<!-- wp:comments-pagination-next /-->
	<!-- /wp:comments-pagination --></div>
	<!-- /wp:group -->
	
	<!-- wp:post-comments-form /--></div>
	<!-- /wp:group --></div>
	<!-- /wp:comments -->
	
	<!-- wp:group {"align":"full","style":{"spacing":{"blockGap":"0","padding":{"top":"var:preset|spacing|x-large","bottom":"var:preset|spacing|x-large"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"primary","layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull has-primary-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--x-large);padding-bottom:var(--wp--preset--spacing--x-large)"><!-- wp:query {"queryId":1,"query":{"perPage":"3","pages":"3","offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false},"align":"wide"} -->
	<div class="wp-block-query alignwide"><!-- wp:post-template {"style":{"spacing":{"blockGap":"var:preset|spacing|large"}},"layout":{"type":"grid","columnCount":3},"fontSize":"large"} -->
	<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|small"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"left"}} -->
	<div class="wp-block-group"><!-- wp:post-terms {"term":"category","style":{"typography":{"fontStyle":"normal","fontWeight":"500"},"elements":{"link":{"color":{"text":"var:preset|color|main-accent"}}}},"textColor":"main-accent","className":"is-style-default","fontSize":"x-small"} /-->
	
	<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"top":"0px","right":"0px","bottom":"0px","left":"0px"}},"typography":{"fontStyle":"normal","fontWeight":"600","textDecoration":"none"},"elements":{"link":{"color":{"text":"var:preset|color|base"}}}},"fontSize":"base"} /-->
	
	<!-- wp:post-date {"textColor":"main-accent","fontSize":"x-small"} /--></div>
	<!-- /wp:group -->
	<!-- /wp:post-template --></div>
	<!-- /wp:query --></div>
	<!-- /wp:group -->
	
	<!-- wp:template-part {"slug":"footer","theme":"ollie","tagName":"footer","className":"site-footer"} /-->
